<ion-view>
  <ion-content class="fondoadn">
     <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:0%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:0%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:0%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:0%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:0%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:0%;"><b ui-sref="agua">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:0%;"><b ui-sref="info">info</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-color: #FB1B07;padding:0%;"><b ui-sref="inicio">Cerrar Secion</b></div>
  </div>
    <div class="row">
      <div class="col">
        <div style="background: ">
          <div id="stage">
            <div id="spinner" style="text-align: center; color: #fff;">
              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <h1><span class="blue">g</span><span class="lineas">________</span><span class="pink">c</span></h1>

              <h1><span class="blue">c</span><span class="lineas2">________</span><span class="pink">g</span></h1>
              <h1><span class="blue">t</span><span class="lineas">________</span><span class="pink">a</span></h1>

              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <h1><span class="blue">a</span><span class="lineas">________</span><span class="pink">t</span></h1>
              <h1><span class="blue">g</span><span class="lineas2">________</span><span class="pink">c</span></h1>

              <h1><span class="blue">t</span><span class="lineas">________</span><span class="pink">a</span></h1>

              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <!--saddddasd-->
            </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
