<div ng-controller="AguaCtrl">
<ion-view>
  <ion-content class="">

   <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="info">info</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-color: #FB1B07;padding:1%;"><b ui-sref="inicio">Cerrar Secion</b></div>
  </div>
    <div class="row fondoagua">
      <div class="col">
        <br>
        <h1 style="-webkit-text-stroke:2px yellow;color:red;font-family: 'Oswald', sans-serif;text-align:center;font-size:50px; ">El Agua</h1>
        <div class="contenido">
          <br>
          <p><b>Sustancia líquida sin olor, color ni sabor que se encuentra en la naturaleza en estado más o menos puro formando ríos, lagos y mares, ocupa las tres cuartas partes del planeta Tierra y forma parte de los seres vivos; está constituida por hidrógeno y oxígeno ( H2 O ).</b></p>
          <img style="widht:100px;height:100px;border-radius:20%;" src="https://media.giphy.com/media/Ebs1COPFnOGk/giphy.gif" alt="agua">
          <br>
        </div>
        <h1 style="-webkit-text-stroke:2px yellow;color:red;font-family: 'Oswald', sans-serif;text-align:center;font-size:50px;">Propiedades</h1>
        <div class="contenido">
          <br>
          <p><b>El agua es una sustanci a que químicamente se formula como H2O, es decir, que una molécula de agua se compone de dos átomos de hidrógeno enlazados covalentemente a un átomo de oxígeno.</b></p>
          <img style="widht:100px;height:100px;border-radius:20%;" src="https://fh-sites.imgix.net/sites/310/2016/08/30214733/h20-watersports-logo.png?auto=compress%2Cformat&w=1024&h=1024&fit=max" alt="agua">
          <br>
        </div>
        <h1 style="-webkit-text-stroke:2px yellow;color:red;font-family: 'Oswald', sans-serif;text-align:center;font-size:50px;">Importancia</h1>
        <div class="contenido">
          <br>
          <img style="width:320px;height:300px;border-radius:20%;" src="https://infogram-thumbs-1024.s3.amazonaws.com/94cbec5e-6713-4fac-b3ec-b601f1674445.jpg" alt="agua">
          <br>
        </div>
        <h1 style="-webkit-text-stroke:2px yellow;color:red;font-family: 'Oswald', sans-serif;text-align:center;font-size:50px;">Uso y Cuidado</h1>
        <div class="contenido">
          <br>
          <img style="width:320px;height:300px;border-radius:20%;" src="https://i.pinimg.com/originals/22/9f/c7/229fc78b55b2c74617f268d8b47d784d.jpg" alt="agua">
          <br>

        </div>
        <br><br>
      </div>
    </div>

  </ion-content>
</ion-view>
