<ion-view>
  <ion-content class="foninfo">
     <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">Video Interactivo</b></div>
   
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">info</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-color: #FB1B07;padding:1%;"><b ui-sref="inicio">Cerrar Secion</b></div>
  </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="a text-center">LA REPRODUCCION SEXUAL</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-50 info">
        <div class="teoria text-center">
          <br><br>
          <p><b> Es la reproducción de las plantas con flores. Cuando un grano de polen llega al pistilo de la flor, se produce la polinización </b></p>
          <br><br>
      <h3 class="reproduccion" >Reproducción Vegetal</h3>
        <img  class="ejemplo" src="https://image.slidesharecdn.com/reproduccinsexualyasexualenplantas-140805104652-phpapp01/95/reproduccin-sexual-y-asexual-en-plantas-3-638.jpg?cb=1433300047">
      </div>
      <div class="col-50 info">
        <br>
        
        </div>
      </div>
    </div>
    <div class="row">    
        <div class="col-50 info">
          <div class="teoria2 text-center">
             <br><br>           
                    <p><b> Intervienen dos progenitores que producen gametos en sus organos sexuales. En la fecundacion se unen los gametos femeninos y masculinos y se forma el gigota que producira un individuo disdinto a los progenitores </b></p>
          <br><br>

      <h3 class="reproduccion" >Reproducción Humana</h3>
        <img  class="ejemplo2" src="https://paoplanetblog.files.wordpress.com/2016/05/wp-1463483185720.jpg?w=616">
      </div>
    </div>
       
        </div>
      </div>
      <div class="col-50 info">
  </ion-content>
</ion-view>
