<ion-view >
  <ion-content >
  	
  		
      <div class="row" style="background:;background-position:center;">
      
    <div class="col efecto" style="position:center;color: #fff;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 25px 25px;
    margin-right: 1px;
    cursor: pointer;
    border: 0;
    position: relative;
    bottom: 0;
    border-radius: 30px;
    transition: all 0.20s linear;
    -webkit-transition: all 0.20s linear;
    -moz-transition: all 0.20s linear;font-size:20px;margin-top:0%;text-align:center;color:white;background-color: #FB7807;padding:7%;"><b ui-sref="login">Login</b></div>
  </div>
  <br>
  <br>
  <br>
  <img class="fondoinicio" src="img/aaa.png">
  <br>
  <br>
  <br>
  <br>
  <div class="col efecto" style="color: #fff;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 25px;
    margin-right: 30px;
    cursor: pointer;
    border: 0;
    position: relative;
    bottom: 0;
    border-radius: 30px;
    transition: all 0.20s linear;
    -webkit-transition: all 0.20s linear;
    -moz-transition: all 0.20s linear;font-size:20px;margin-top:0%;text-align:center;color:white;background-color: #FB7807;padding:7%;"><b ui-sref="registro">No Me He Registrado</b

  
      
    
  </ion-content>
</ion-view>
