<ion-view>
  <ion-content >
      <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="info">info</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-color: #FB1B07;padding:1%;"><b ui-sref="inicio">Cerrar Secion</b></div>
  </div>
    <div class="row">
      <div class="col">
        <div style="background: ">
          <div id="stage">
            
<div id="land" class="land">
  <div id="land-msg" class="land-msg">
    <div class="memorama-flip">
      <span class="memorama" >Biomemoria</span>
      <button class="btn-play" onclick="javascript:playNow();">Juega  &#9658;</button>
    </div>
  </div>    
</div>

<div id="result" class="land land-hide"> 
    <div id="result-content" class="land-msg">
      <span id="result-msg" class="result-msg"></span>
      <button class="btn-play btn-play-again" onclick="javascript:playAgain();">Play again &#9658;</button>    
    </div>
</div>  
    
<div id="game"><ul class="flex-container" id="cards"></ul>
</div>
</ion-content>
</ion-view>
