<ion-view>
	<ion-content>
		
		<div class="row">
			<div class="col">
				<div class="divisionform">
					<br>
					<h1 class="text-center"><b>"Bienvenido A AguaApp"</b></h1>
					<br>
					<form>
						<label><b>Nombre:</b> <input class="usuarioC2" type="text" placeholder="  Inserte Nombre" name=""></label>
						<label><b>Apellidos:</b> <input class="usuarioC2" type="text" placeholder="  Inserte Apellidos" name=""></label>
						<label><b>Email:</b> <input class="usuarioC2" type="text" placeholder="  Correo electronico" name=""></label>
						<label><b>Contraseña:</b> <input class="usuarioC2" type="text" placeholder="  Inserte su contraseña" name=""></label><br>
						<button <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="info">info</b></div></button>
						<br><br>
					</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>