
<ion-view>
  <ion-content ng-controller="ListCtrl">
   
    
    <div class="row" style="background:;background-position:center;">
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">Agua</b></div>

      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="video">video</b></div>
     <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="memoria">Memoria</b></div>
      <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="adn">ADN</b></div>
    </div>
    <div class="row" style="background:;background-position:center;">
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="tabla">Tabla Nutricional</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="agua">Video Interactivo</b></div>
    
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-image:url(https://media.giphy.com/media/pkVHZKcnzzkmA/giphy.gif);padding:1%;"><b ui-sref="info">info</b></div>
    <div class="col efecto" style="font-size:20px;margin-top:0%;text-align:center;color:white;background-color: #FB1B07;padding:1%;"><b ui-sref="inicio">Cerrar Secion</b></div>

  </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background-image: url(http://3.bp.blogspot.com/-anSzUEKzhPI/UgUQGbADonI/AAAAAAAAAFA/jH0oz4a4Mjg/s1600/misuelo.gif) no-repeat;">>
          <h4 style="color:white;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>La contaminacion del agua</b></h4><br>
         <iframe width="380" height="315" src="https://www.youtube.com/embed/XMvncTxCLB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
        </div>
      </div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div  style="background-image: url(https://67.media.tumblr.com/3610953ee38455b84107ee39d0e1fdae/tumblr_n2l89exnaD1qcu3vno1_500.gif)no-repeat;">
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:35px;text-align:center;"><b>Importancia del agua en el ser humano</b></h4><br>
          <iframe width="390" height="315" src="https://www.youtube.com/embed/EPPWZ8DwL5c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
        </div>
      </div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:">
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>Como Cepillarse Los Dientes Correctamente</b></h4><br>
          <iframe width="390" height="315" src="https://www.youtube.com/embed/tiesUbtiy40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
        </div>
      </div>
    </div>
    
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:">
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>Metodos Anticonceptivos</b></h4><br>
          <iframe width="390" height="315" src="https://www.youtube.com/embed/NdEKzlIittk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
